<div class="container my-5">
    <h1 class="mb-3">Edit Books</h1>
    <div class="row">
        <div class="col-3">
            <form #form="ngForm" (ngSubmit)="updateBook()" >
                <div class="mb-3">
                    <label for="bid" class="form-label">Bid</label>
                    <input type="text" class="form-control" id="bid" readonly name="bid" [(ngModel)]="bookDetails.bid">
                   
                  </div>
                <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" class="form-control" id="name" name="bname" [(ngModel)]="bookDetails.bname">
                 
                </div>
                <div class="mb-3">
                    <label for="author" class="form-label">Author</label>
                    <input type="text" class="form-control" id="author" name="author" [(ngModel)]="bookDetails.author">
                   
                  </div>
                  <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" class="form-control" id="price" name="price" [(ngModel)]="bookDetails.price">
                  </div>
               
                <button type="submit" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger" (click)="deleteBook(bookDetails.bid)">Delete</button>
              </form> 
        </div>
    </div>
        
  
</div>

